<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upload de Arquivo CSV</title>
</head>
<body>
    <h1>Upload de Arquivo CSV</h1>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <label for="bioma">Selecione o Bioma:</label>
        <select name="bioma" id="bioma" required>
            <option value="BiomaAmazonia">Amazonia</option>
            <option value="BiomaCerrado">Cerrado</option>
            <option value="BiomaCaatinga">Caatinga</option>
            <option value="BiomaPampa">Pampa</option>
            <option value="BiomaPantanal">Pantanal</option>
            <option value="BiomaMataAtlantica">Mata Atlantica</option>
        </select>
        <br><br>
        <input type="file" name="file" required>
        <button type="submit">Enviar</button>
    </form>
</body>
</html>
