{% extends 'menu.html' %}
{% load static %}
{% block title%}Edição, visualização e exlusão de dados{% endblock %}
{% block body%}
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Mapeamento de cultura perene</title>
    <link rel="stylesheet" href="{% static 'css/indexpropried.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
</head>
<body style="background-color: #e4e4e4ce;">
{% if request.user.is_authenticated %}
     <div class = "col-8 m-auto pt-2 pb-2 text-center">
         <h2 class="topo">DADOS DO PANTANAL</h2>
        <form method = "get">
            <input type="text" id="search" name="search" class="form-control" placeholder="Buscar">
        </form>
    </div>

    <table class="table table-striped table-ligth" id="myTable">

            <thead class="thead-ligth">
                  <tr class="table-ligth">
                    <th scope="col">Máxima</th>
                    <th scope="col">Média</th>
                    <th scope="col">Mínima</th>
                    <th scope="col">Ano</th>
                    <th scope="col">Janeiro</th>
                    <th scope="col">Fevereiro</th>
                    <th scope="col">Março</th>
                    <th scope="col">Abril</th>
                    <th scope="col">Maio</th>
                    <th scope="col">Junho</th>
                    <th scope="col">Julho</th>
                    <th scope="col">Agosto</th>
                    <th scope="col">Setembro</th>
                    <th scope="col">Outubro</th>
                    <th scope="col">Novembro</th>
                    <th scope="col">Dezembro</th>
                    <th scope="col">Total</th>
                    <th scope="col">Ações</th>
                  </tr>
            </thead>
            <tbody>
                {%for Pantanal in page.object_list %}

                  <tr>
                    <th>{{Pantanal.maxima}}</th>
                    <td>{{Pantanal.media}}</td>
                    <td>{{Pantanal.minima}}</td>
                    <td>{{Pantanal.anos}}</td>
                    <td>{{Pantanal.total}}</td>
                    <td>{{Pantanal.janeiro}}</td>
                    <td>{{Pantanal.fevereiro}}</td>
                    <td>{{Pantanal.marco}}</td>
                    <td>{{Pantanal.abril}}</td>
                    <th>{{Pantanal.maio}}</th>
                    <td>{{Pantanal.junho}}</td>
                    <td>{{Pantanal.julho}}</td>
                    <td>{{Pantanal.agosto}}</td>
                    <td>{{Pantanal.setembro}}</td>
                    <td>{{Pantanal.outubro}}</td>
                    <td>{{Pantanal.novembro}}</td>
                    <td>{{Pantanal.dezembro}}</td>
                    <td>
                       <a href="{% url 'delete_pantanal' Pantanal.id %}" class="btn btn-danger" onclick="return confirm('Deseja mesmo apagar este item?')"> Deletar </a>
                    </td>
                  </tr>
                {%endfor%}
          </tbody>
        </table>

        <div class="page">
            {% if page.has_previous %}
                <a class="page" href="{% url 'listar_pantanal' %}?page={{page.previous_page_number}}">Anterior</a>
            {% endif %}
            {% if page.has_next %}
                <a class="page" href="{% url 'listar_pantanal' %}?page={{page.next_page_number}}">Próximo</a>
            {% endif %}
        </div>
</body>
</html>
{% endblock %}